.Contact {
  display: flex;
  gap: 2px;
  padding: 0 2rem;
}

.left-c {
  flex: 1 1;
  display: flex;
  padding: 2rem;
}
.left-c > img {
  max-width: 100%;
  height: auto;
}
.right-c {
  flex: 1 1;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  color: white;
}

.right-c a {
  text-decoration: none;
  color: white;
}
.right-c h6 {
  font-size: 20px;
  color: var(--orange);
}
.right-c h4 {
  font-size: 32px;
}
.icons {
  display: flex;
  flex-direction: column;
}
.icons i {
  font-size: 20px;
  padding: 8px;
}
