.Services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.services-header {
  display: flex;
  gap: 2rem;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-style: italic;
}
.services-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.category {
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 4px;
  padding: 2rem;
  gap: 1rem;
  color: white;
}
.category:hover {
  background: var(--planCard);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.842);
}
.category > :nth-child(1) {
  font-size: 35px;
}
.category > :nth-child(2) {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
.category > :nth-child(3) {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 900px) {
  .services-categories {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .services-header {
    font-size: 2rem;
  }
}
